*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#main-loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black url('../assets/preloader-min.gif') center;
    background-repeat: no-repeat;
    z-index: 9999999;
}
header{
    position: fixed;
    background:black;
    padding: 2vh 0px;
    width: 100vw; 
    max-height: 14vh;
    display: block;
    z-index: 99999;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-size: 20px;
    overflow-x: hidden;
    font-family: Montserrat,Verdana, Geneva, Tahoma, sans-serif;
}

.home{
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/images/home.jpg);
    color:white;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
}
/* .clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
} */
.header-row{
    max-height: 8vh;
    position: relative;
    max-width: 1200px;
    margin:auto;
    overflow: hidden;   
}
.header-logo{
    max-height: 8vh;
    width:auto;
    float:left;
}
.main-nav{
    margin: 1px;
    max-height: 6vh;
    float: right;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin:1vh 25px;
    text-transform:uppercase;
}
.main-nav li a{
    color:white;
    text-decoration: none;
    font-size: 90%;
}
.main-nav li a:hover{
    border-bottom: 2px red solid;

}
.main-box-content{
    width:1200px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h1{
    color: white;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn{
    display:inline-block;
    padding: 10px 30px;
    text-decoration: none; 
    text-transform:uppercase;
    border-radius: 200px;
    font-weight: lighter;
    transition:background-color 0.2s ,border 0.2s, color 0.2;
    background-color: transparent;
    margin:20px;
    float: right;
}
.btn-full{
    color: red;
    border:2px solid red;
}
.btn-full:hover{
    background-color: white;
}
.btn-half{
    color:white;
    border:2px solid white;
}
.btn-half:hover{
    background-color: red;
}
.food-details{
    background: black;
}
.food-hr-image{
    background:radial-gradient(white, rgba(167, 167, 167, 0.315),black);
    border-radius:10px;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.712);
    max-height: 70vh;
    display: inline;
}
/* .btn-full{
    animation: colorchangeanim 2s infinite;
}
@keyframes colorchangeanim{
    0%{color:red;border:1px solid red;}
    100%{color:white;border:1px solid white;}
} */
/*-------------------- Responsive queries -----------------------*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra small devices (phones, 600px and down) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px){

}

@media only screen and (max-width: 1200px){
.main-content-header{
    width:100%;
    padding: 0 2%;
}
}
/* Medium devices (landscape tablets, 768px and up to 992px) */
@media only screen and (max-width: 992px){
h1{font-size: 200%;}
}

@media only screen and (max-width: 768px){
h1{font-size: 180%;}
.main-nav{
    display: none;
} 
header{
    background:url(../assets/images/mob-home.jpg) ;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;

} 
.btn{
    float: left;
}
}
/* Small devices (portrait tablets and large phones, 600px and upto 768px) */
@media only screen and (max-width: 600px){
h1{font-size: 150%;} 
}